body {
    margin-left: 135px;
    margin-right: 127px;
}
#page-logo {
    width: 48px;
height: 56.008px;
margin-top: 30px;
margin-right: 20px;

}

#page-title {
    color: #131318;

font-family: Mulish;
font-size: 36px;

font-weight: 800;

}
.website-nametitle {
    display: flex;
}
.nav-btns{
    display: flex;
    gap: 44px;
    margin-top: 30px;
    color: #424247;
font-family: Mulish;
font-size: 18px;
font-weight: 400;

}
.menu-links {
    display: flex;
    gap: 44px;
    
    color: #424247;
font-family: Mulish;
font-size: 18px;
font-weight: 400;
}

.nav-btns a {
    
    color: #424247;
    text-decoration: none;
}

.nav-bar nav {
    display: flex;
    justify-content: space-between;
}
.orange-part, #Home a {
    color: #FF5400;
}
.menu-btn {
    display: none;
}
.nav {
    margin-bottom: 50px;
}
.opening-banner {
    text-align: center;
    
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),  url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    width: 100%;
    height: 500px;
    border-radius: 16px;
   



}
.o-b-texts {
    margin-bottom: 64px;
}
.o-b-headline {
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-weight: 800;
padding-top: 106px;

}
.o-b-des {
    color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
margin-top: -24px;

}
.o-b-btns {
    display: flex;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
margin: 0px 185px 0px 185px;
}
.o-b-inputfields {
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
}
.o-b-inputfields ::placeholder {
    color: rgba(19, 19, 24, 0.50);
  
    
   
   
    font-size: 16px;
    font-weight: 400;
    
   
    
}
.o-b-inputfields input {
  width: 80%;
     font-family: Mulish;
    margin-top: 16px;
   
    border: none;
}
.dropdown-list {
    position: absolute;
    width: 24px;
height: 24px;
margin-left:-30px;
margin-top: 15px;
border: none;
}
.o-b-button {
    display: flex;
    gap: 5px;
}
.o-b-button button {
    width: 174px;
height: 52px;
color: #FFF;


font-family: Mulish;
font-size: 16px;

font-weight: 700;

border-radius: 8px;
background: #FF5400;
}

@media screen and (max-width:576px) {
      body {
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-btns {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .menu-btn {
        display: flex;
        cursor: pointer;
      }
    
      .menu-links {
        display: none;
        flex-direction: column;
      }
    
      .menu-links.show {
        display: flex;
      }

    .menu-btn {
       
    }
  

    #page-logo {
        width: 28.724px;
        height: 33.516px;
    
    }


    #page-title {
      display: flex;
      gap: 5px;
      margin-top: 33px;
      margin-left: -15px;
    

    font-size: 20px;
    
    font-weight: 800;
    }
    .opening-banner {
        
        width: 335px;
        height: 483px;
        margin-top: -40px;
        padding-top: -500px;
       
    }
.o-b-headline {
    padding-top: 32px;
    padding-bottom: 0px;
    font-size: 22px;
}
 .o-b-des {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    font-size: 14px;
    margin-bottom: 0px;
    
 }
 .o-b-btns {
    margin-top: -50px;
    margin-left: 40px;
    flex-direction: column;
    gap: 0px;
   margin-bottom: 0px;
   background: rgba(255, 255, 255, 0.30);
   width: 287px;
   margin-left: 24px;
 }
 .o-b-inputfields {
    margin-bottom: 0px;
    margin-top: 0px;
    margin: 15px;
    width: 255px;
height: 52px;
  
}
.o-b-inputfields ::placeholder {
  
  
    font-size: 16px;
   
   
    
   
    
}
.o-b-inputfields input {
  
}
.dropdown-list {
   
}
.o-b-button {
    width: 255px;
    margin-left: 15px;
    margin-top: 0px;


}
.o-b-button button {
    width: 6000px;
    height: 52px;
}