body {
    margin-left: 135px;
    margin-right: 127px;
}
#page-logo {
    width: 48px;
height: 56.008px;
margin-top: 30px;
margin-right: 20px;

}

#page-title {
    color: #131318;

font-family: Mulish;
font-size: 36px;

font-weight: 800;

}
.website-nametitle {
    display: flex;
}
.nav-btns{
    display: flex;
    gap: 44px;
    margin-top: 30px;
    color: #424247;
font-family: Mulish;
font-size: 18px;
font-weight: 400;

}
.menu-links {
    display: flex;
    gap: 44px;
    
    color: #424247;
font-family: Mulish;
font-size: 18px;
font-weight: 400;
}

.nav-btns a {
    
    color: #424247;
    text-decoration: none;
}

.nav-bar nav {
    display: flex;
    justify-content: space-between;
}
.orange-part, #Home a {
    color: #FF5400;
}
.menu-btn {
    display: none;
}
.nav {
    margin-bottom: 50px;
}
.opening-banner {
    text-align: center;
    
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),  url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    width: 100%;
    height: 500px;
    border-radius: 16px;
    margin-bottom: 100px;
   



}
.o-b-texts {
    margin-bottom: 64px;
}
.o-b-headline {
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-weight: 800;
padding-top: 106px;

}
.o-b-des {
    color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
margin-top: -24px;

}
.o-b-btns {
    display: flex;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
margin: 0px 185px 0px 185px;
}
.o-b-inputfields {
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
}
.o-b-inputfields ::placeholder {
    color: rgba(19, 19, 24, 0.50);
  
    
   
   
    font-size: 16px;
    font-weight: 400;
    
   
    
}
.o-b-inputfields input {
  width: 80%;
     font-family: Mulish;
    margin-top: 16px;
   
    border: none;
}
.dropdown-list {
    position: absolute;
    width: 24px;
height: 24px;
margin-left:-30px;
margin-top: 15px;
border: none;
}
.o-b-button {
    display: flex;
    gap: 5px;
}
.o-b-button button {
    width: 174px;
height: 52px;
color: #FFF;


font-family: Mulish;
font-size: 16px;

font-weight: 700;

border-radius: 8px;
background: #FF5400;
}
.our-popular-tours {
    display: flex;
    margin-bottom: 100px;
 
}
.o-p-t-headline {
    color: #131318;


font-family: Mulish;
font-size: 40px;

font-weight: 800;

}
.o-p-t-des {
   color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;

}
.o-p-t-image {
    width: 540px;
height: 550px;
}
.our-popular-tours ul li {
    margin-bottom: 16px;
    margin-right: 0px;
}
.o-p-t-button {
    margin-top: 32px;
    color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 20px;

font-weight: 800;

    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
}
.choose-your-destination {
    text-align: center;
    margin-bottom: 100px;
}
.c-y-d-headline {
    color: #131318;

font-family: Mulish;
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;

}
.c-y-d-des {
    color: rgba(19, 19, 24, 0.70);

font-family: Mulish;
font-size: 16px;

font-weight: 400;
line-height: 26px;
margin-bottom: 48px;
}
.box-1 {
    width: 573px;
height: 300px;
}
.box-2 {
    width: 573px;
height: 300px;
}
.box-3 {
    width: 374px;
height: 286px;
margin-right: 0px;
}
.box-4 {
    width: 474px;
height: 286px;
margin-left: 0px;
}
.box-5 {
    width: 274px;
height: 286px;
}
.box-6 {
    width: 473px;
height: 300px;
}
.box-7 {

    width: 673px;
height: 300px;
}
.c-y-d-images img {
   width: 100%;
   height: 100%;
}
.first-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 25px;
    margin-left: 60px;
   margin-bottom: 25px;
}
.second-row {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3,1fr);
    margin-left: 60px;
    margin-bottom: 25px;
}
.third-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-left: 60px;
}
.why-choose-us {
    text-align: center;
}
.w-c-u-headline {
    color: #131318;


font-family: Mulish;
font-size: 40px;
font-weight: 800;

}
.w-c-u-des {
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;

}
@media screen and (max-width:576px) {
      body {
       
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-btns {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .menu-btn {
        display: flex;
        cursor: pointer;
      }
    
      .menu-links {
        display: none;
        flex-direction: column;
      }
    
      .menu-links.show {
        display: flex;
      }

    .menu-btn {
       
    }
  

    #page-logo {
        width: 28.724px;
        height: 33.516px;
    
    }


    #page-title {
      display: flex;
      gap: 5px;
      margin-top: 33px;
      margin-left: -15px;
    

    font-size: 20px;
    
    font-weight: 800;
    }
    .opening-banner {
        
        width: 335px;
        height: 483px;
        margin-top: -40px;
        padding-top: -500px;
       
    }
.o-b-headline {
    padding-top: 32px;
    padding-bottom: 0px;
    font-size: 22px;
}
 .o-b-des {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    font-size: 14px;
    margin-bottom: 0px;
    
 }
 .o-b-btns {
    margin-top: -50px;
    margin-left: 40px;
    flex-direction: column;
    gap: 0px;
   margin-bottom: 0px;
   background: rgba(255, 255, 255, 0.30);
   width: 287px;
   margin-left: 24px;
 }
 .o-b-inputfields {
    margin-bottom: 0px;
    margin-top: 0px;
    margin: 15px;
    width: 255px;
height: 52px;
  
}
.o-b-inputfields ::placeholder {
  
  
    font-size: 16px;
}
.o-b-button {
    width: 255px;
    margin-left: 15px;
    margin-top: 0px;


}
.o-b-button button {
    width: 6000px;
    height: 52px;
}
.our-popular-tours {
    flex-direction: column;
}
.o-p-t-headline {
    font-size: 20px;
}
.o-p-t-image img {
   width: 100%;
    width: 335px;
height: 342px;
border-radius: 16px;
margin-top: 24px;
}
.c-y-d-images img {
    width: 335px;
height: 176px;
margin-left: 0px;
}
.c-y-d-images {
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.first-row {
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  
}
.second-row {
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}
.third-row {
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}
.box-1 img {
    margin-left: 0px;
    padding-left: 0px;
}
.box-1 {
    width: 0px;
    height: 176px;
   
}
.box-2 {
  
    width: 0px;
    height: 176px;
   
}
.box-3 {
    width: 0px;
    height: 176px;
    
}
.box-4 {
    width: 0px;
    height: 176px;
}
.box-5 {
    width: 0px;
    height: 176px;
}
.box-6 {
    width: 0px;
    height: 176px;
}
.box-7 {
    width: 0px;
    height: 176px;
}
.o-p-t-image {
    width: 540px;
   height: 320px;
}
}